<configuration>
  <system.webServer>
    <!-- Handle Node.js applications with iisnode -->
    <handlers>
      <add name="iisnode" path="dist/server.cjs" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^dist/server.cjs\/debug[\/]?" />
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="dist/server.cjs"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Exclude node_modules and other sensitive files from being served directly -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
          <add segment="node_modules"/>
          <add segment=".env"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error messages are detailed during troubleshooting -->
    <httpErrors existingResponse="PassThrough" />

    <iisnode
      nodeProcessCommandLine="node"
      watchedFiles="web.config;*.js;*.cjs"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
    />
  </system.webServer>
</configuration>
